{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card card-body">
            <div class="card-title h3">Nuevo problema</div>
            <form action="/nuevo-problema" method="POST">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre del problema</label>
                    <input type="text" class="form-control" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="capacidad" class="form-label">Capacidad de la mochila</label>
                    <input type="number" min="1" class="form-control" name="capacidad" required>
                </div>
                <div class="mb-3">
                    <label for="cantidad" class="form-label">Cantidad de items</label>
                    <input type="number" min="1" class="form-control" name="cantidad" required>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="submit">Aceptar</button>
                    <!-- <a href="/" class="btn btn-danger" type="button">Cancelar</a> -->
                    <button class="btn btn-danger" type="reset">Reiniciar</button>
                </div>
            </form>
        </div>
        <div class="card card-body mt-4">
            <div class="card-title h3">Cargar problema guardado</div>
            <form action="/cargar" method="POST" enctype="multipart/form-data">
                <div class="input-group my-3">
                    <input type="file" class="form-control" name="archivo" required>
                    <button type="submit" class="btn btn-primary">Cargar problema</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}